button.btnDark{
    border: 0;
    border-radius: 20px;
    background: var(--accent_dark);
    color: var(--secondary-color);
    padding: 11px;
    width: 30%;
    transition: all .3s ease-in;
}
  
button.btnDark:hover {
    background-color: var(--grey1);
    box-shadow: var(--base_shadow);
    transform:translate(0,-2px);
}

button.btnDark:active {
    color: var(--accent_dark);
    background-color: var(--secondary-color);
    outline: .2rem var(--accent_dark) solid;
    transition: 0.1s ease-out;
    transform:translate(0,1px);
    box-shadow:0px 1px 9px rgba(0, 0, 0, 0.21);
}



button.btnDark:focus {
    outline: .2rem var(--secondary-color) solid;
    outline-offset: 2px;
}